{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Center | Sera Reklam</title>

	{% include 'Base/Headers.html'%}


   
  </head>
  <body>
    <div class="container-scroller">
		{% include 'Base/RaporMenu.html' %}
    <!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper bg-light">

          <!-- ANA KAPSAYICI *****************************************-->
          <div class="container-fluid"> 
              

            <!-- ***********************CARD BASLANGIÇ ***********************************  -->
           <div class="container-fluid">
             <div class="row" >
               <div class="col-sm-12 d-flex justify-content-between justify-content-sm-between">
                 <div class="col-sm-6">
                   <div class="card" style="margin: 10px; background-color: rgb(200, 227, 250);">
                     <div class="card-header" style="align-items:center ;">
                       <div class="card-title " style="text-align:center ;"> 
                         <div class="row">
                           <div class="col-sm-4" style="padding-top:15px ;">
                             <p class="text-justify" > KASA BİLGİSİ </p>
                           </div>
                           <div class="col-sm-4" style="padding-top: 15px;">
                             22/08/2022 - 17:30 
                           </div>
                           <div class="col-sm-4">
                             <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; padding-top: 20px;">
                               <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                               <button type="button" class="btn btn-primary">Exel</button><hr>
                               <button type="button" class="btn btn-primary">Print</button><hr>
                             </div>
                           </div> 

                         </div>

                       </div>
                       <table id="#" class="table table-bordered table-striped table-hover bg-light table-sm " style="border:1px; border-color: black;"  >
                         <caption>
                           ####
                         </caption>
                         <thead class="bg-warning"  style="color:red;">
                         <tr style=" text-align: center ;" >
                           <th scope="col" style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">Banka</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">Türk Lirasi</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Dolar </th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Euro </th>
                         </thead>
     
                         <tbody style="text-align:center ;">
                         <tr>
                           <th scope="row">Garanti Bankası</th>
                           <td >8000</td>
                           <td>200</td>
                           <td>600</td>
                         
                         </tr>
                         <tr>
                          <th scope="row">Yapı Kredi</th>
                          <td >90000</td>
                          <td>200</td>
                          <td>600</td>
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">Ziraat Bankası</th>
                          <td >500</td>
                          <td>50000</td>
                          <td>600</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">Halk Bankası</th>
                          <td >500</td>
                          <td>200</td>
                          <td>5000</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">FinansBank</th>
                          <td >500</td>
                          <td>200</td>
                          <td>50000</td>
                          
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">VakıfBank</th>
                          <td >500</td>
                          <td>444444</td>
                          <td>600</td>                 
                        </tr>
                  
                         <!--  TOPLAM KOLONU  -->
                         <tfoot style="text-align:center ; color:red;">
                         <tr>
                           <th>TOPLAM</th>
                           <th>#</th>
                           <th>#</th>
                           <th>#</th>   
                         </tr>
                         </tfoot>
                       </table>
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-6">
                   <div class="card" style="margin: 10px; background-color: aliceblue;">
                     <div class="card-header" style="align-items:center ;">
                       <div class="card-title " style="text-align:center ;"> 
                         <div class="row">
                           <div class="col-sm-4" style="padding-top:15px ;">
                             <p class="text-justify" > KASA BİLGİSİ </p>
                           </div>
                           <div class="col-sm-4" style="padding-top: 15px;">
                             22/08/2022 - 17:30 
                           </div>
                           <div class="col-sm-4">
                             <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; padding-top: 20px;">
                               <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                               <button type="button" class="btn btn-primary">Exel</button><hr>
                               <button type="button" class="btn btn-primary">Print</button><hr>
                             </div>
                           </div> 

                         </div>

                       </div>
                       <table id="#" class="table table-bordered table-striped table-hover bg-light table-sm " style="border:1px; border-color: black;"  >
                         <caption>
                           ####
                         </caption>
                         <thead class="bg-warning"  style="color:red;">
                         <tr style=" text-align: center ;" >
                           <th scope="col" style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">Banka</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">Türk Lirasi</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Dolar </th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Euro </th>
                         </thead>
     
                         <tbody style="text-align:center ;">
                         <tr>
                           <th scope="row">Garanti Bankası</th>
                           <td >8000</td>
                           <td>200</td>
                           <td>600</td>
                         
                         </tr>
                         <tr>
                          <th scope="row">Yapı Kredi</th>
                          <td >90000</td>
                          <td>200</td>
                          <td>600</td>
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">Ziraat Bankası</th>
                          <td >500</td>
                          <td>50000</td>
                          <td>600</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">Halk Bankası</th>
                          <td >500</td>
                          <td>200</td>
                          <td>5000</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">FinansBank</th>
                          <td >500</td>
                          <td>200</td>
                          <td>50000</td>
                          
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">VakıfBank</th>
                          <td >500</td>
                          <td>444444</td>
                          <td>600</td>                 
                        </tr>
                  
                         <!--  TOPLAM KOLONU  -->
                         <tfoot style="text-align:center ; color:red;">
                         <tr>
                           <th>TOPLAM</th>
                           <th>#</th>
                           <th>#</th>
                           <th>#</th>   
                         </tr>
                         </tfoot>
                       </table>
                     </div>
                   </div>
                 </div>
                 <!-- ======================================================================================================= -->
               

               </div>

             </div>


           </div>
            <!-- ***********************CARD BİTİŞ ***********************************  -->
       

            
            <!-- ***********************CARD BASLANGIÇ ***********************************  -->
           
             <div class="container-fluid">
            <div class="row" >
              <div class="col-sm-12 d-flex justify-content-between justify-content-sm-between">
                <div class="col-sm-12">
                  <div class="card" style="margin: 10px; background-color: antiquewhite;">
                    <div class="card-header" style="align-items:center ;">
                      <div class="card-title " style="text-align:center ;"> 
                        <div class="row">
                          <div class="col-sm-4" style="padding-top:15px ;">
                            <p class="text-justify" > KASA BİLGİSİ </p>
                          </div>
                          <div class="col-sm-4" style="padding-top: 15px;">
                            22/08/2022 - 17:30 
                          </div>
                          <div class="col-sm-4">
                            <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; padding-top: 20px;">
                              <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                              <button type="button" class="btn btn-primary">Exel</button><hr>
                              <button type="button" class="btn btn-primary">Print</button><hr>
                            </div>
                          </div> 

                        </div>

                      </div>
                      
                      <div class="table-responsive">
                   
                        <table id="#" class="table table-bordered table-striped table-hover  table-sm table-light " style="border:1px; border-color: black;"  >
                          <caption>
                              ####
                          </caption>
                          <thead class="bg-warning"  style="color:red;">
                          <tr style=" text-align: center ;" >
                            <th scope="col" style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">NO</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">MAĞAZA ADI</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> ARÇELİK SAHA SORUMLUSU</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">YAPILAN İŞ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">DTM ALANI M²</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">PROJE AŞAMASI DURUMU</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK'DEN GELEN TALEP TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">SERA KEŞİF PERSONELİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">KEŞİF TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK'E KEŞİF ve/veya PROJE SUNUM TARİHİ2</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">PROJE ONAY TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">MOBİLYA MONTAJ BAŞLANGIÇ TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">MOBİLYA MONTAJ BİTİŞ TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">MAĞAZA TESLİM TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK'E HAKEDİŞ GÖNDERİM TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK'E HAKEDİŞ GÖNDERİM TUTARI</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK'İN HAKEDİŞ ONAY TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">ARÇELİK HAKEDİŞ ONAY TUTARI(TFS+KDV HARİÇ)</th>
                            <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">FATURA TARİHİ</th>
                           
                          </thead>
      
                          <tbody style="text-align:center ;">
                          <tr>
                            <th scope="row">1</th>
                            <td >Asil</td>
                            <td>Kıbrıs</td>
                            <td>GAZİMAGUSA</td>
                            <td> BİROL TEMEL </td>
                            <td>2017 KONSEPT</td>
                            <td >303</td>
                            <td>Üretimde</td>
                            <td>16/02/2022</td>
                            <td>Erdal Akdemir</td>
                            <td> # </td>
                            <td >21/01/2022</td>
                            <td>#</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            
                  
                          </tr>
                          <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td class="text-danger"> 300 </td>
                           <td><label class="badge badge-danger">5000</label></td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td><label class="badge badge-danger">Üretimde</label></td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td><label class="badge badge-warning">Montaj</label></td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td><label class="badge badge-info">Tamamlandı</label></td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                            <th scope="row">1</th>
                            <td >Asil</td>
                            <td>Kıbrıs</td>
                            <td>GAZİMAGUSA</td>
                            <td> BİROL TEMEL </td>
                            <td>2017 KONSEPT</td>
                            <td >303</td>
                            <td>Üretimde</td>
                            <td>16/02/2022</td>
                            <td>Erdal Akdemir</td>
                            <td> # </td>
                            <td >21/01/2022</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            
                  
                          </tr>
                          
                          <tfoot style="text-align:center ; color:red;">
                          <tr>
                            <th>TOPLAM</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                          </tr>
                          </tfoot>
                        </table>
      
                       </div>
                 
                    </div>
                  </div>
                </div>
                
                <!-- ======================================================================================================= -->
              

              </div>

            </div>


            </div>

           <!-- ***********************CARD BİTİŞ ***********************************  -->
            
           <!-- ***********************CARD BASLANGIÇ ***********************************  -->
           <div class="container-fluid">
            <div class="row" >
              <div class="col-sm-12 d-flex justify-content-between justify-content-sm-between">
                <div class="col-sm-12">
                  <div class="card" style="margin: 10px; background-color: rgb(255, 220, 249);">
                    <div class="card-header" style="align-items:center ;">
                      <div class="card-title " style="text-align:center ;"> 
                        <div class="row">
                          <div class="col-sm-4" style="padding-top:15px ;">
                            <p class="text-justify" > KASA BİLGİSİ </p>
                          </div>
                          <div class="col-sm-4" style="padding-top: 15px;">
                            22/08/2022 - 17:30 
                          </div>
                          <div class="col-sm-4">
                            <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; padding-top: 20px;">
                              <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                              <button type="button" class="btn btn-primary">Exel</button><hr>
                              <button type="button" class="btn btn-primary">Print</button><hr>
                            </div>
                          </div> 

                        </div>

                      </div>
                      
                      <div class="table-responsive">
               
                        <table id="#" class="table table-bordered badge-primary table-sm bg-light " style="border:1px; border-color: black;"  >
                          <caption>
                              ####
                          </caption>
                          <thead class="bg-warning"  style="color:red;">
                          <tr style=" text-align: center ;" >
                            <th scope="col"   style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">NO</th>
                            <th  scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">MAĞAZA ADI</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;"> ARÇELİK SAHA SORUMLUSU</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">YAPILAN İŞ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">DTM ALANI M²</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">PROJE AŞAMASI DURUMU</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK'DEN GELEN TALEP TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">SERA KEŞİF PERSONELİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">KEŞİF TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK'E KEŞİF ve/veya PROJE SUNUM TARİHİ2</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">PROJE ONAY TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">MOBİLYA MONTAJ BAŞLANGIÇ TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">MOBİLYA MONTAJ BİTİŞ TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">MAĞAZA TESLİM TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK'E HAKEDİŞ GÖNDERİM TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK'E HAKEDİŞ GÖNDERİM TUTARI</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK'İN HAKEDİŞ ONAY TARİHİ</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">ARÇELİK HAKEDİŞ ONAY TUTARI(TFS+KDV HARİÇ)</th>
                            <th scope="col" style="width: 120px; font-weight: 500; font-size: 15px; height: 30px;">FATURA TARİHİ</th>
                           
                          </thead>
         
                          <tbody style="text-align:center ;">
                          <tr>
                            <th scope="row">1</th>
                            <td >Asil</td>
                            <td>Kıbrıs</td>
                            <td>GAZİMAGUSA</td>
                            <td> BİROL TEMEL </td>
                            <td>2017 KONSEPT</td>
                            <td >303</td>
                            <td>Üretimde</td>
                            <td>16/02/2022</td>
                            <td>Erdal Akdemir</td>
                            <td> # </td>
                            <td >21/01/2022</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            
                  
                          </tr>
                          <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                           <th scope="row">1</th>
                           <td >Asil</td>
                           <td>Kıbrıs</td>
                           <td>GAZİMAGUSA</td>
                           <td> BİROL TEMEL </td>
                           <td>2017 KONSEPT</td>
                           <td >303</td>
                           <td>Üretimde</td>
                           <td>16/02/2022</td>
                           <td>Erdal Akdemir</td>
                           <td> # </td>
                           <td >21/01/2022</td>
                           <td>#</td>
                           <td>#</td>
                           <td>#</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           <td>X</td>
                           
                 
                         </tr>
                         <tr>
                            <th scope="row">1</th>
                            <td >Asil</td>
                            <td>Kıbrıs</td>
                            <td>GAZİMAGUSA</td>
                            <td> BİROL TEMEL </td>
                            <td>2017 KONSEPT</td>
                            <td >303</td>
                            <td>Üretimde</td>
                            <td>16/02/2022</td>
                            <td>Erdal Akdemir</td>
                            <td> # </td>
                            <td >21/01/2022</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            
                  
                          </tr>
                          
                          <tfoot style="text-align:center ; color:red;">
                          <tr>
                            <th>TOPLAM</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                          </tr>
                          </tfoot>
                        </table>
         
                       </div>
                 
                    </div>
                  </div>
                </div>
                
                <!-- ======================================================================================================= -->
              

              </div>

            </div>


            </div>
          
           <!-- ***********************CARD BİTİŞ ***********************************  -->


            <!-- ***********************CARD BASLANGIÇ ***********************************  -->



            <div class="container-fluid">
              <div class="row" >
                <div class="col-sm-12 d-flex justify-content-between justify-content-sm-between">
                  <div class="col-sm-12">
                    <div class="card" style="margin: 10px; background-color: antiquewhite;">
                      <div class="card-header" style="align-items:center ;">
                        <div class="card-title " style="text-align:center ;"> 
                          <div class="row">
                            <div class="col-sm-4" style="padding-top:15px ;">
                              <p class="text-justify" > Görsel Veriler </p>
                            </div>
                            <div class="col-sm-4" style="padding-top: 15px;">
                              22/08/2022 - 17:30 
                            </div>
                            <div class="col-sm-4">
                              <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; padding-top: 20px;">
                                <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                                <button type="button" class="btn btn-primary">Exel</button><hr>
                                <button type="button" class="btn btn-primary">Print</button><hr>
                              </div>
                            </div> 
  
                          </div>
  
                        </div>
                        
                        <div class="container-fluid page-body-wrapper">
                          <div class="main-panel">
                            <div class="content-wrapper">
                              <div class="row">
                                <div class="col-lg-6 grid-margin stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Line chart</h4>
                                      <canvas id="lineChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 grid-margin stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Bar chart</h4>
                                      <canvas id="barChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 grid-margin stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Area chart</h4>
                                      <canvas id="areaChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 grid-margin stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Doughnut chart</h4>
                                      <canvas id="doughnutChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Pie chart</h4>
                                      <canvas id="pieChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                                  <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Scatter chart</h4>
                                      <canvas id="scatterChart"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                           
                            
                          </div>
                          <!-- main-panel ends -->
                        </div>
                   
                      </div>
                    </div>
                  </div>
                  
                  <!-- ======================================================================================================= -->
                
  
                </div>
  
              </div>
  
  
            </div>
             <!-- ***********************CARD BİTİŞ ***********************************  -->
           
          
       
           
         </div>
         <!-- ANA KAPSAYICI BİTİŞ *****************************************-->
         
          
        
				</div>
			</div>
		</div>
  </div>

	{% include 'Base/Footer.html'%}

  {% include 'Base/JavaCodes.html'%}

  <script src="{% static 'vendors/base/vendor.bundle.base.js'%}"></script>
 
  <script src="{% static 'js/template.js'%}"></script>
 
  <script src="{% static 'vendors/chart.js/Chart.min.js'%}"></script>
 
  <script src="{% static 'js/chart.js'%}"></script>

  </body>
</html>