<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Center | Sera Reklam</title>

	{% include 'Base/Headers.html'%}


   
  </head>
  <body>
    <div class="container-scroller">
		{% include 'Base/RaporMenu.html' %}
    <!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper bg-light">

          <div class="container-fluid">
            <div class="row">
              
              <div class="card"> 
                <div class="card-header bg-light" style="height: 50px;">
                  <div class="container-fluid">
                    <div class="row" style="text-align:left;">
                      <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                              Kasa
                      </div>
                      <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                            Güncelleme  22/08/2022-17:30
                      </div>
                      <div class="col-sm-4">
                        <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; ;">
                          <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                          <button type="button" class="btn btn-primary">Exel</button><hr>
                          <button type="button" class="btn btn-primary">Print</button><hr>
                        </div>
                      </div> 
                      </div>

                    </div>

                  </div>
                </div>
                <div class="card-body">
                  
                  <div class="table-responsive">
                   
                   <table id="#" class="table table-bordered table-striped table-hover bg-light table-sm " style="border:1px; border-color: black;"  >
                     <caption>
                         ####
                     </caption>
                     <thead class="bg-warning"  style="color:red;">
                     <tr style=" text-align: center ;" >
                       <th scope="col" style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">Banka</th>
                       <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">Türk Lirasi</th>
                       <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Dolar </th>
                       <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Euro </th>
                     </thead>
 
                     <tbody style="text-align:center ;">
                     <tr>
                       <th scope="row">Garanti Bankası</th>
                       <td >500</td>
                       <td>200</td>
                       <td>600</td>
                     
                     </tr>
                     <tr>
                      <th scope="row">Yapı Kredi</th>
                      <td >500</td>
                      <td>200</td>
                      <td>600</td>
                     
                    </tr>
                   
                    <tr>
                      <th scope="row">Ziraat Bankası</th>
                      <td >500</td>
                      <td>200</td>
                      <td>600</td>
                      
                      
                    </tr>
                   
                    <tr>
                      <th scope="row">Halk Bankası</th>
                      <td >500</td>
                      <td>200</td>
                      <td>600</td>
                      
                      
                    </tr>
                   
                    <tr>
                      <th scope="row">FinansBank</th>
                      <td >500</td>
                      <td>200</td>
                      <td>600</td>
                      
                     
                    </tr>
                   
                    <tr>
                      <th scope="row">VakıfBank</th>
                      <td >500</td>
                      <td>200</td>
                      <td>600</td>                 
                    </tr>
              
                     <!--  TOPLAM KOLONU  -->
                     <tfoot style="text-align:center ; color:red;">
                     <tr>
                       <th>TOPLAM</th>
                       <th>#</th>
                       <th>#</th>
                       <th>#</th>   
                     </tr>
                     </tfoot>
                   </table>
 
                  </div>
                 </div>
             
              </div>

              <div class="container-fluid">
                <div class="row">
              
                  <div class="card"> 
                    <div class="card-header bg-light" style="height: 50px;">
                      <div class="container-fluid">
                        <div class="row" style="text-align:left;">
                          <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                                  Banka Kredileri
                          </div>
                          <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                                Güncelleme  22/08/2022-17:30
                          </div>
                          <div class="col-sm-4">
                            <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; ;">
                              <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                              <button type="button" class="btn btn-primary">Exel</button><hr>
                              <button type="button" class="btn btn-primary">Print</button><hr>
                            </div>
                          </div> 
                          </div>
    
                        </div>
    
                      </div>
                    </div>
                    <div class="card-body">
                      
                      <div class="table-responsive">
                       
                       <table id="#" class="table table-bordered table-striped table-hover bg-light table-sm " style="border:1px; border-color: black;"  >
                         <caption>
                             ####
                         </caption>
                         <thead class="bg-warning"  style="color:red;">
                         <tr style=" text-align: center ;" >
                           <th scope="col" style="width: 60px; font-weight: 800; font-size: 15px; height: 30px;">Banka</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;">Türk Lirasi</th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Dolar </th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 15px; height: 30px;"> Euro </th>
                         </thead>
     
                         <tbody style="text-align:center ;">
                         <tr>
                           <th scope="row">Garanti Bankası</th>
                           <td >8000</td>
                           <td>200</td>
                           <td>600</td>
                         
                         </tr>
                         <tr>
                          <th scope="row">Yapı Kredi</th>
                          <td >90000</td>
                          <td>200</td>
                          <td>600</td>
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">Ziraat Bankası</th>
                          <td >500</td>
                          <td>50000</td>
                          <td>600</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">Halk Bankası</th>
                          <td >500</td>
                          <td>200</td>
                          <td>5000</td>
                          
                          
                        </tr>
                       
                        <tr>
                          <th scope="row">FinansBank</th>
                          <td >500</td>
                          <td>200</td>
                          <td>50000</td>
                          
                         
                        </tr>
                       
                        <tr>
                          <th scope="row">VakıfBank</th>
                          <td >500</td>
                          <td>444444</td>
                          <td>600</td>                 
                        </tr>
                  
                         <!--  TOPLAM KOLONU  -->
                         <tfoot style="text-align:center ; color:red;">
                         <tr>
                           <th>TOPLAM</th>
                           <th>#</th>
                           <th>#</th>
                           <th>#</th>   
                         </tr>
                         </tfoot>
                       </table>
     
                      </div>
                     </div>
                 
                  </div>
              </div>

              <div class="container-fluid">
                <div class="row">
              
                  <div class="card"> 
                    <div class="card-header bg-light" style="height: 50px;">
                      <div class="container-fluid">
                        <div class="row" style="text-align:left;">
                          <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                                  TİCARİ AKLACAKLAR
                          </div>
                          <div class="col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-between" style="color:red ; font-weight: bold;">
                                Güncelleme  22/08/2022-17:30
                          </div>
                          <div class="col-sm-4">
                            <div class="d-flex align-items-center  justify-content-sm-between " style="height: 30px; ;">
                              <button type="button" class="btn btn-primary">Pdf</button><hr><br>
                              <button type="button" class="btn btn-primary">Exel</button><hr>
                              <button type="button" class="btn btn-primary">Print</button><hr>
                            </div>
                          </div> 
                          </div>
    
                        </div>
    
                      </div>
                    </div>
                    <div class="card-body">
                      
                      <div class="table-responsive">
                       
                       <table id="#" class="table table-bordered table-striped table-hover bg-light table-sm " style="border:1px; border-color: black;"  >
                         <caption>
                             ####
                         </caption>
                         <thead class="bg-danger"  style="color:white;">
                         <tr style=" text-align: center ;" >
                           <th scope="col" style="width: 60px; font-weight: 600; font-size: 15px; height: 30px;">Firma ADI</th>
                           <th scope="col" style="width: 120px; font-weight: 600; font-size: 15px; height: 30px;">Türk Lirasi</th>
                           <th scope="col" style="width: 120px; font-weight: 600; font-size: 15px; height: 30px;"> Dolar </th>
                           <th scope="col" style="width: 120px; font-weight: 600; font-size: 15px; height: 30px;"> Euro </th>
                           <th scope="col" style="width: 120px; font-weight: 800; font-size: 22px; height: 30px;"> Toplam </th>
                         </thead>
     
                         <tbody style="text-align:center ;">
                         <tr>
                           <th scope="row">Zer A.Ş</th>
                           <td >8000</td>
                           <td>200</td>
                           <td>600</td>
                           <td>#</td>    
                         </tr>

                         <tr>
                          <th scope="row">Arçelik Beko</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Yapı Kredi</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Migros</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Aygaz</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Tofaş</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">HalkBank</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Vakıfbank</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>

                        <tr>
                          <th scope="row">Ram Trading</th>
                          <td >8000</td>
                          <td>200</td>
                          <td>600</td>
                          <td>#</td>    
                        </tr>
                         
                         </tfoot>
                       </table>
     
                      </div>
                     </div>
                 
                  </div>
              </div>

            </div>
          </div>
				</div>
			</div>
		</div>
  </div>

	{% include 'Base/Footer.html'%}

  {% include 'Base/JavaCodes.html'%}

  </body>
</html>