<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="table-responsive">
        <table class="table  table-bordered table-hover text-center " style="border-color: rgb(105, 105, 105);">
          <thead class="text-light text-center" style="background-color: rgb(216, 58, 255);">
            <tr>
              <th>
                Resim
              </th>
              <th>
                İsim Soyisim
              </th>
              <th>
                Araç
              </th>
              <th>
                Şehir
              </th>
              <th>
                Firma Adı
              </th>
              <th>
                Yapılacak İş
              </th>
              <th>
                Gidiş Tarihi
              </th>
              <th>
                Donüş Tarihi
              </th>
              <th>
                Montaj islemi
              </th>
              <th>
                Montaj Durumu
              </th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="py-1">
                <img src="{% static 'images/faces/face1.jpg'%}" alt="image"/>
              </td>
              <td>
                AHMET YILMAZ
              </td>
              <td>
                06 AS 7898
              </td>
              <td>
                İSTANBUL
              </td>
              
              <td>
                Arçelik
              </td>
              <td>
                Magaza Kurulumu
              </td>
              <td>
                08/08/2022
              </td>
              <td>
                12/08/2022
              </td>
              
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>

              <td >
                  <p class="badge badge-danger"> asdasd </p>
              </td>
            </tr>
           
           
           
            
          </tbody>
        </table>
      </div>

</body>
</html>