{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <footer class="footer" >
        <div class="footer-wrap bg-success" style="height:10px; border-radius: 10px;">
          <div class="d-sm-flex justify-content-center justify-content-sm-between" >
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © All Right Reserverd | Ömer ÖZYÜREK </span>
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> Version  1.0.0 </span>
          </div>
        </div>
      </footer>

</body>
</html>