{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>

  
<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0 bg-light ">
      <div class="container-fluid">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between" style="height: 50px;">
          <ul class="navbar-nav navbar-nav-left">
            <li class="nav-item ms-0 me-5 d-lg-flex d-none">
              <a href="#" class="nav-link horizontal-nav-left-menu"><i class="mdi mdi-format-list-bulleted"></i></a>
            </li>
            
            <!-- BİLDİRİM #############################  -->

            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell mx-0"></i>
                <span class="count bg-success">5</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Bildirimler</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-information mx-0"></i>
                      </div>
                  </div>
                  <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal"> BİLDİRİM 1</h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        ÜRETİM
                      </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                      <div class="preview-icon bg-warning">
                        <i class="mdi mdi-settings mx-0"></i>
                      </div>
                  </div>
                  <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">BİLDİRİM 2</h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        ÜRETİM
                      </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                      <div class="preview-icon bg-info">
                        <i class="mdi mdi-account-box mx-0"></i>
                      </div>
                  </div>
                  <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal"> BİLDİRİM 3</h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        MUHASEBE
                      </p>
                  </div>
                </a>
              </div>
            </li>

            <!-- BİLDİRİM SON ######################### -->

            <!-- MESAJLAR ############################## -->
            <!-- MESAJLAR SON ##########################-->
            

            
            <li class="nav-item nav-search d-none d-lg-block ms-3">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="search">
                      <i class="mdi mdi-magnify"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
              </div>
            </li>	
          </ul>
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              
              <p style="font-size:25px; color:red; font-weight: bold;" > DATA CENTER | SERA REKLAM  </p>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
              <button type="button" class="btn btn-inverse-primary btn-sm">Ürünler</button>
            </li>
              <li class="nav-item dropdown  d-lg-flex d-none">
                <button type="button" class="btn btn-inverse-danger btn-sm"> + Siparis  </button>
              </li>
              <li class="nav-item dropdown d-lg-flex d-none">
                <a class="dropdown-toggle show-dropdown-arrow btn btn-inverse-primary btn-sm" id="nreportDropdown" href="#" data-bs-toggle="dropdown">
                Raporlar
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="nreportDropdown">
                    <p class="mb-0 font-weight-medium float-left dropdown-header">Rapor</p>
                    <a class="dropdown-item" href="{% url 'RaporAnaSayfa'%}">
                      <i class="mdi mdi-trending-up text-danger"></i>
                      Günlük
                    </a>
                    
                    <a class="dropdown-item" href="{% url 'WeekReports' %}">
                      <i class="mdi mdi-trending-up text-danger"></i>
                      Haftalık
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-trending-up text-danger"></i>
                      Aylık
                    </a>
                </div>
              </li>
              
              <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                  <span class="nav-profile-name">Ömer ÖZYÜREK</span>
                  <span class="online-status"></span>
                 
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                      <i class="mdi mdi-settings text-primary"></i>
                      Ayarlar
                    </a>
                    <a class="dropdown-item">
                      <i class="mdi mdi-logout text-primary"></i>
                      Çıkış
                    </a>
                </div>
              </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </div>
    </nav>
    <nav class="bottom-navbar"  style="height: 78px;">
      <div class="container">
          <ul class="nav page-navigation" >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Home'%}">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
              </a>
            </li>
            <!-- ÜRETİM ############ -->
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-cube-outline menu-icon"></i>
                <span class="menu-title">Üretim</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'UretimHome' %}">Üretim Takvimi</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'Bolumler' %}">Üretim Bölümleri</a></li>
                  </ul>
              </div>
          </li>
            <!-- ÜRETİM SON ########### -->
          <!--===================================================================================================================== -->
            <!-- MUHASEBE ############## -->

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">Muhasebe</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'M_Alim'%}">Alım</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'M_Satim'%}">Satım</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenelMuhasebe'%}">Muhasebe Durumu</a>
                      </li>
                  </ul>
              </div>
          </li>

          
          <!-- MUHASEBE SON ############## -->
          <!--===================================================================================================================== -->
                    <!--===================================================================================================================== -->
            <!-- MUHASEBE ############## -->

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">Sevkiyat</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'SevkTarih' %}">Sevkiyat Takvimi</a></li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'SevkDurum'%}">Sevkiyat Durumu</a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'GenelSevkiyat'%}">Personel / Araç Durumu</a></li>
                  </ul>
              </div>
          </li>
          <!-- MUHASEBE SON ############## -->
          <!--===================================================================================================================== -->
            <li class="nav-item">
                <a href="pages/charts/chartjs.html" class="nav-link">
                  <i class="mdi mdi-finance menu-icon"></i>
                  <span class="menu-title">Proje</span>
                  <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/basic-table.html" class="nav-link">
                  <i class="mdi mdi-grid menu-icon"></i>
                  <span class="menu-title">Fabrika</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Personel</a></li>
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Depo</a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/ui-features/typography.html">Ekipman</a></li>
                          <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/typography.html">Araç</a></li>
                  </ul>
              </div>
            </li>
            <li class="nav-item">
                <a href="pages/icons/mdi.html" class="nav-link">
                  <i class="mdi mdi-emoticon menu-icon"></i>
                  <span class="menu-title">Musteriler</span>
                  <i class="menu-arrow"></i>
                </a>
                
            </li>
            
            <li class="nav-item">
                <a href="docs/documentation.html" class="nav-link">
                  <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                  <span class="menu-title">E-Ticaret </span></a>
            </li>

            <li class="nav-item">
              <a href="pages/tables/basic-table.html" class="nav-link">
                <i class="mdi mdi-grid menu-icon"></i>
                <span class="menu-title">Uygulamalar</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                <ul>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/buttons.html">Teknik Servis</a></li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/ui-features/buttons.html">Chat</a></li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/ui-features/typography.html">Dosya Aktarımı</a></li>
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Mail</a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="pages/ui-features/typography.html">Araç Takip</a></li>
                          <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/typography.html">Personel Takip</a></li>
                </ul>
            </div>
          </li>  
          
          </li>
          </ul>
      </div>
    </nav>
  </div>

</body>
</html>

