{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Center | Sera Reklam</title>

    
    {% include 'Base/Headers.html'%}
	

  </head>

  <body>
    {% include 'Base/Menu.html' %}

    <hr>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel bg-gradient-light">
          <div class="content-wrapper">
            <!-- UST PANEL  -->
            <div class="col-sm-12">
              <div class="row" style="height: 20px ;">
                
                <div class="col-sm-4 text-left">
                  <div class="container">
                    {{tanim}}
                  </div> 
                 
                </div>
                <div class="col-sm-4 text-center">
                  <div class="container">
                    01/09/2022 - 15:00
                  </div> 
                </div>
                <div class="col-sm-4 text-end" >
                  <div class="container"  >
                    <a href="#" class="btn btn-danger btn-sm " role="button" aria-disabled="true">+ Sipariş</a>
                    <a href="#" class="btn btn-primary btn-sm " role="button" aria-disabled="true">+ Proje</a>
                    <a href="{% url 'M_GunlukRapor'%}" class="btn btn-success btn-sm " role="button" aria-disabled="true">Rapor</a>
                  </div> 
                </div>

              </div>
            </div>
            
            <hr style="color:rgb(47, 0, 255) ;">
            <!-- ORTA BOLUM  -->

            <div class="container">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card" style="align-items:center ; background-color: rgb(154, 161, 129);">
                      <div class="card-body bg-gradient-primary" style=" align-items: center;">
                        <a href="{% url 'RaporAnaSayfa'%}" class="btn btn-fix text-left">
                          <h4 class="text-danger" style="color: red; height: 30px;"> 60 </h4>
                            <div class="card-block ">
                                <h4 class="card-title text-light ">Personel Sayısı</h4>
                                <p class="card-text text-light ">Günlük Personel Sayısı Bilgisi</p>
                                <p class="card-text "><large class="text-info">31/08/2022</large></p>
                            </div>
                        </a>
                      </div>
                   </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="align-items:center ; background-color: aliceblue;">
                      <div class="card-body bg-gradient-primary" style=" align-items: center;">
                        <a href="{% url 'RaporAnaSayfa'%}" class="btn btn-fix text-left">
                          <h4 class="text-danger" style="color: red; height: 30px;"> 60 </h4>
                            <div class="card-block ">
                                <h4 class="card-title text-light ">Personel Sayısı</h4>
                                <p class="card-text text-light ">Günlük Personel Sayısı Bilgisi</p>
                                <p class="card-text "><large class="text-info">31/08/2022</large></p>
                            </div>
                        </a>
                      </div>
                   </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="card" style="align-items:center ; background-color: rgb(119, 119, 119);">
                      <div class="card-body bg-gradient-primary" style=" align-items: center;">
                        <a href="{% url 'RaporAnaSayfa'%}" class="btn btn-fix text-left">
                          <h4 class="text-warning" style="color: rgb(255, 255, 255); font-size: 30px;"> 60 </h4>
                            <div class="card-block ">
                                <h4 class="card-title text-light ">Personel Sayısı</h4>
                                <p class="card-text text-light ">Günlük Personel Sayısı Bilgisi</p>
                                <p class="card-text "><large class="text-info">31/08/2022</large></p>
                            </div>
                        </a>
                      </div>
                   </div>

                  </div>
                </div>
              </div>


            </div>

            <hr>

            <div class="container">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row justify-content-center align-items-center main-row">
                      <div class="card">
                        <div class="card-body">
                          <div class="col shadow main-col bg-white">
                            <div class="row bg-primary text-white">
                              <div class="col  p-2">
                                <h4>Günlük Yapılacak Listesi</h4>
                              </div>
                            </div>
                            <div class="row justify-content-between text-white p-2">
                              <div class="form-group  mb-4">
                                <input id="todo-input" type="text" class="form-control" value="">
                              </div>
                              <button type="button" onclick="CreateTodo();" class="btn btn-primary mb-2 ml-2 ">Görev Ekle</button>
                            </div>
                            <div class="row" id="todo-container">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-8">
                            <h3 class="font-weight-bold text-dark">ANKARA / Akyurt</h3>
                            <p class="text-dark">Pazartes 08:30</p>
                            <div class="d-lg-flex align-items-baseline mb-3">
                              <h1 class="text-dark font-weight-bold">23<sup class="font-weight-light"><small>o</small><small class="font-weight-medium">c</small></sup></h1>
                              
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="position-relative">
                              <img src="images/dashboard/live.png" class="w-100" alt="">
                              <div class="live-info badge badge-success">Live</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 mt-4 mt-lg-0">
                            <div class="bg-primary text-white px-4 py-4 card">
                              <div class="row">
                                <div class="col-sm-6 pl-lg-5">
                                  <h2>1 $</h2>
                                  <p class="mb-0">18.72 TL</p>
                                </div>
                                <div class="col-sm-6 climate-info-border mt-lg-0 mt-2">
                                  <h2>1 €</h2>
                                  <p class="mb-0">18.21 TL</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              


            </div>

            <hr style="color: red;">

            <!-- CHART  -->

            <!-- SALES  -->
            <div class="container">
              <div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-4">
											<h4 class="card-title">Sales Difference</h4>
											<canvas id="salesDifference"></canvas>
											<p class="mt-3 mb-4 mb-lg-0">Lorem ipsum dolor sit amet,
												consectetur adipisicing elit.
											</p>
										</div>
										<div class="col-lg-5">
											<h4 class="card-title">Best Sellers</h4>
											<div class="row">
												<div class="col-sm-4">
													<ul class="graphl-legend-rectangle">
														<li><span class="bg-danger"></span>Automotive</li>
														<li><span class="bg-warning"></span>Books</li>
														<li><span class="bg-info"></span>Software</li>
														<li><span class="bg-success"></span>Video games</li>
													</ul>
												</div>
												<div class="col-sm-8 grid-margin">
													<canvas id="bestSellers"></canvas>
												</div>
											</div>
											<p class="mt-3 mb-4 mb-lg-0">Lorem ipsum dolor sit amet,
												consectetur adipisicing elit.
											</p>
										</div>
										<div class="col-lg-3">
											<h4 class="card-title">Social Media Statistics</h4>
											<div class="row">
												<div class="col-sm-12">
													<div class="progress progress-lg grouped mb-2">
														<div class="progress-bar  bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
														<div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														<div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
												<div class="col-sm-12">
													<ul class="graphl-legend-rectangle">
														<li><span class="bg-danger"></span>Instagram (15%)</li>
														<li><span class="bg-warning"></span>Facebook (20%)</li>
														<li><span class="bg-info"></span>Website (25%)</li>
														<li><span class="bg-success"></span>Youtube (40%)</li>
													</ul>
												</div>
											</div>
											<p class="mb-0 mt-2">Lorem ipsum dolor sit amet,
												consectetur adipisicing elit.
											</p>
										</div>
									</div>
								</div>
							</div>
            </div>
               <!-- SALES  -->
            
               <hr style="color: blue;">


            <!-- CHART  -->
            <div class="container-fluid">
              <div class="row" >
                <div class="col-sm-12 d-flex justify-content-between justify-content-sm-between">
                  <div class="container-fluid page-body-wrapper">
                    <div class="main-panel">
                      <div class="content-wrapper">
                        <div class="row">
                          <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Doughnut chart</h4>
                                <canvas id="doughnutChart"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Bar chart</h4>
                                <canvas id="barChart"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <!-- main-panel ends -->
                  </div>
                  
                  <!-- ======================================================================================================= -->
                
  
                </div>
  
              </div>
  
  
            </div>

            <!-- CHART  -->

            <hr style="color: red;">
            
            
          
          </div>  
            
          
        </div>
      </div>
    </div>
    {% include 'Base/Footer.html'%}
    {% include 'Base/JavaCodes.html'%}

    <script src="{% static 'vendors/base/vendor.bundle.base.js'%}"></script>
 
    <script src="{% static 'js/template.js'%}"></script>
   
    <script src="{% static 'vendors/chart.js/Chart.min.js'%}"></script>
   
    <script src="{% static 'js/chart.js'%}"></script>
   
	</body>

  
 



  </html>


